def home(request):
    if request.user.is_authenticated:
        user_sessions = TrainingSession.objects.filter(
            user=request.user,
            is_active=True,
            date__gte=timezone.now().date()
        )[:5]

        recommended_users = CustomUser.objects.exclude(id=request.user.id).filter(
            district=request.user.district,
            interest=request.user.interest
        )[:6]
    else:
        user_sessions = TrainingSession.objects.none()
        recommended_users = CustomUser.objects.none()

    context = {
        'user_sessions': user_sessions,
        'recommended_users': recommended_users,
    }
    return render(request, 'index.html', context)  # ← поменяйте с 'partners/home.html' на 'index.html'
